<html>
    <head>

    </head>
    <body>
       <h1>This is user profile of <%=user.name%></h1> 
       <h2>email : <%=user.email%></h2>
       <a href="/user/signout">SignOut</a>
    </body>
</html>