<html>
    <head>
        <title></title>
    </head>
    <body>
        <h2>User's Profile name : <%= user.name%></h2>
        <a href = "/user/signout">Signout</a>

        <section id="post-feed">
            <form action="/post/create-post" method="POST">
                <textarea name="content" cols="30" rows="3" placeholder="Type here.." required></textarea>
                <input type="submit" value="Post">
            </form>
        </section>

        <section id="post-container">
            <ul>
                <%for(post of posts){%>
                    <p>
                        <li>
                            <%= post.content%>
                            <small><%= post.user.name%></small>
                            <% let date = post.user.createdAt.toString().split(' ');%>
                            Created at<small> <%= date[0]+" "+date[1]+" "+date[2]+" "+date[4]%></small>
                        </li>
                    </p>
                <%}%>
            </ul>
        </section>
    </body>
</html>